*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  padding: 5rem 0;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.products_wrapper {
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.productCard {
  background-color: rgb(193, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 1rem;
}

.productCard_image {
  width: 100%;
  border-radius: 1rem;
} 

.productCard_details {
  background-color: rgb(193, 206, 206);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCard_details_name {
  font-size: large;
  font-weight: 500;
}

.productCard_details_price {
  font-size: larger;
  font-weight: 900;

}

.productCard_details_price::before{
  content: "$";
}