*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: 0px;
  cursor: pointer;
}

button:hover {
  background-color: inherit;
}

hr {
  width: 0.5rem;
  color: rgba(70, 73, 73, 0.404);
  width: 100%;
  margin: 3rem 0;
}

.heading {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  padding-top: 3rem;
}

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.productCard {
  background-color: rgb(193, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 1rem;
}

.productCard_image {
  width: 100%;
  border-radius: 1rem;
}

.productCard_details {
  background-color: rgb(193, 206, 206);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCard_details_name {
  font-size: large;
  font-weight: 500;
}

.productCard_details_price {
  font-size: larger;
  font-weight: 900;
}

.productCard_details_price::before {
  content: "$";
}

.productCard_details_Quantity {
  width: 100%;
  text-align: left;
  font-size: larger;
  font-weight: 600;
}

.cart_btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_toggle_btn {
  position: relative;
  color: aliceblue;
  font-size: medium;
  font-weight: 500;
  width: 12rem;
  border-radius: 0.5rem;
  height: 3rem;
  background-color: rgb(51, 48, 48);
}

.cart_products_count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  width: 2.3rem;
  background-color: beige;
  padding: 1rem;
  border-radius: 99rem;
  color: black;
  position: absolute;
  top: -40%;
  right: -10%;
  border: 2px solid rgba(0, 0, 0, 0.336);
}

.section_title {
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 600;
}

.hint_text {
  text-align: center;
  color: rgb(46, 44, 44);
  font-style: italic;
}

.cart_toggle_btn:hover {
  background-color: rgb(39, 37, 37);
}
